h3{
  font-size:60px;
  font-family: 'Pathway Gothic One', sans-serif;
}
th{
  font-size:45px;
}
#image1{
  width:75%;
  height:auto;
}
h2{
  font-size:60px;
}
li{
  font-size:20px;
}
#captain{
  color:blue;
}
@keyframes swageffect{
    0%  {color:orange;}
   25%  {color:pink;}
   50%  {color:orange;}
   75%  {color:pink;}
   100% {color:orange;}
}
@-webkit-keyframes swageffect{
    0%  {color:orange;}
   25%  {color:pink;}
   50%  {color:orange;}
   75%  {color:pink;}
   100% {color:orange;}
}
#habibifc{
  font-family: 'Pathway Gothic One', cursive;
  -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  animation-name: swageffect;
  font-size: 60px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
#soccer1{
  width:25%;
  height:auto;
}
#soccer2{
  width:25%;
  height:auto;
}
#soccer3{
  width:25%;
  height:auto;
}
#soccer4{
  width:25%;
  height:auto;
}
#soccer5{
  width:25%;
  height:auto;
}
